.dxEditors_caRefresh_DevEx,
.dxEditors_edtCalendarFNNextYear_DevEx,
.dxEditors_edtCalendarFNPrevYear_DevEx,
.dxEditors_edtCalendarNextMonth_DevEx,
.dxEditors_edtCalendarNextMonthDisabled_DevEx,
.dxEditors_edtCalendarNextYear_DevEx,
.dxEditors_edtCalendarNextYearDisabled_DevEx,
.dxEditors_edtCalendarPrevMonth_DevEx,
.dxEditors_edtCalendarPrevMonthDisabled_DevEx,
.dxEditors_edtCalendarPrevYear_DevEx,
.dxEditors_edtCalendarPrevYearDisabled_DevEx,
.dxEditors_edtDETSClockFace_DevEx,
.dxEditors_edtDETSHourHand_DevEx,
.dxEditors_edtDETSMinuteHand_DevEx,
.dxEditors_edtDETSSecondHand_DevEx,
.dxEditors_edtDropDown_DevEx,
.dxEditors_edtDropDownDisabled_DevEx,
.dxEditors_edtEllipsis_DevEx,
.dxEditors_edtEllipsisDisabled_DevEx,
.dxEditors_edtError_DevEx,
.dxEditors_edtRadioButtonChecked_DevEx,
.dxEditors_edtRadioButtonCheckedDisabled_DevEx,
.dxEditors_edtRadioButtonUnchecked_DevEx,
.dxEditors_edtRadioButtonUncheckedDisabled_DevEx,
.dxEditors_edtSpinEditDecrementImage_DevEx,
.dxEditors_edtSpinEditDecrementImageDisabled_DevEx,
.dxEditors_edtSpinEditIncrementImage_DevEx,
.dxEditors_edtSpinEditIncrementImageDisabled_DevEx,
.dxEditors_edtSpinEditLargeDecImage_DevEx,
.dxEditors_edtSpinEditLargeDecImageDisabled_DevEx,
.dxEditors_edtSpinEditLargeIncImage_DevEx,
.dxEditors_edtSpinEditLargeIncImageDisabled_DevEx,
.dxEditors_edtTBDecBtn_DevEx,
.dxEditors_edtTBDecBtnDisabled_DevEx,
.dxEditors_edtTBDecBtnHover_DevEx,
.dxEditors_edtTBDecBtnPressed_DevEx,
.dxEditors_edtTBIncBtn_DevEx,
.dxEditors_edtTBIncBtnDisabled_DevEx,
.dxEditors_edtTBIncBtnHover_DevEx,
.dxEditors_edtTBIncBtnPressed_DevEx,
.dxEditors_edtTokenBoxTokenRemoveButton_DevEx,
.dxEditors_fcadd_DevEx,
.dxEditors_fcaddhot_DevEx,
.dxEditors_fcgroupaddcondition_DevEx,
.dxEditors_fcgroupaddgroup_DevEx,
.dxEditors_fcgroupand_DevEx,
.dxEditors_fcgroupnotand_DevEx,
.dxEditors_fcgroupnotor_DevEx,
.dxEditors_fcgroupor_DevEx,
.dxEditors_fcgroupremove_DevEx,
.dxEditors_fcopany_DevEx,
.dxEditors_fcopbegin_DevEx,
.dxEditors_fcopbetween_DevEx,
.dxEditors_fcopblank_DevEx,
.dxEditors_fcopcontain_DevEx,
.dxEditors_fcopend_DevEx,
.dxEditors_fcopequal_DevEx,
.dxEditors_fcopgreater_DevEx,
.dxEditors_fcopgreaterorequal_DevEx,
.dxEditors_fcopless_DevEx,
.dxEditors_fcoplessorequal_DevEx,
.dxEditors_fcoplike_DevEx,
.dxEditors_fcopnotany_DevEx,
.dxEditors_fcopnotbetween_DevEx,
.dxEditors_fcopnotblank_DevEx,
.dxEditors_fcopnotcontain_DevEx,
.dxEditors_fcopnotequal_DevEx,
.dxEditors_fcopnotlike_DevEx,
.dxEditors_fcremove_DevEx,
.dxEditors_fcremovehot_DevEx,
.dxeFocused_DevEx .dxeTBHSys .dxeFocusedMDHSys .dxEditors_edtTBMainDH_DevEx,
.dxeFocused_DevEx .dxeTBHSys .dxeFocusedMDHSys .dxEditors_edtTBMainDHHover_DevEx,
.dxeFocused_DevEx .dxeTBHSys .dxeFocusedMDHSys .dxEditors_edtTBMainDHPressed_DevEx,
.dxeFocused_DevEx .dxeTBHSys .dxeFocusedSDHSys .dxEditors_edtTBSecondaryDH_DevEx,
.dxeFocused_DevEx .dxeTBHSys .dxeFocusedSDHSys .dxEditors_edtTBSecondaryDHHover_DevEx,
.dxeFocused_DevEx .dxeTBHSys .dxeFocusedSDHSys .dxEditors_edtTBSecondaryDHPressed_DevEx,
.dxeFocused_DevEx .dxeTBVSys .dxeFocusedMDHSys .dxEditors_edtTBMainDH_DevEx,
.dxeFocused_DevEx .dxeTBVSys .dxeFocusedMDHSys .dxEditors_edtTBMainDHHover_DevEx,
.dxeFocused_DevEx .dxeTBVSys .dxeFocusedMDHSys .dxEditors_edtTBMainDHPressed_DevEx,
.dxeFocused_DevEx .dxeTBVSys .dxeFocusedSDHSys .dxEditors_edtTBSecondaryDH_DevEx,
.dxeFocused_DevEx .dxeTBVSys .dxeFocusedSDHSys .dxEditors_edtTBSecondaryDHHover_DevEx,
.dxeFocused_DevEx .dxeTBVSys .dxeFocusedSDHSys .dxEditors_edtTBSecondaryDHPressed_DevEx,
.dxeTBHSys .dxEditors_edtTBMainDH_DevEx,
.dxeTBHSys .dxEditors_edtTBMainDHDisabled_DevEx,
.dxeTBHSys .dxEditors_edtTBMainDHHover_DevEx,
.dxeTBHSys .dxEditors_edtTBMainDHPressed_DevEx,
.dxeTBHSys .dxEditors_edtTBSecondaryDH_DevEx,
.dxeTBHSys .dxEditors_edtTBSecondaryDHDisabled_DevEx,
.dxeTBHSys .dxEditors_edtTBSecondaryDHHover_DevEx,
.dxeTBHSys .dxEditors_edtTBSecondaryDHPressed_DevEx,
.dxeTBVSys .dxEditors_edtTBMainDH_DevEx,
.dxeTBVSys .dxEditors_edtTBMainDHDisabled_DevEx,
.dxeTBVSys .dxEditors_edtTBMainDHHover_DevEx,
.dxeTBVSys .dxEditors_edtTBMainDHPressed_DevEx,
.dxeTBVSys .dxEditors_edtTBSecondaryDH_DevEx,
.dxeTBVSys .dxEditors_edtTBSecondaryDHDisabled_DevEx,
.dxeTBVSys .dxEditors_edtTBSecondaryDHHover_DevEx,
.dxeTBVSys .dxEditors_edtTBSecondaryDHPressed_DevEx
{
    background-image: url('sprite.png');
    background-repeat: no-repeat;
    background-color: transparent;
}
.dxEditors_caRefresh_DevEx
{
    background-position: -152px 0px;
    width: 25px;
    height: 25px;
}
.dxEditors_edtCalendarFNNextYear_DevEx
{
    background-position: -152px -43px;
    width: 19px;
    height: 18px;
}
.dxEditors_edtCalendarFNPrevYear_DevEx
{
    background-position: -152px -81px;
    width: 19px;
    height: 18px;
}
.dxEditors_edtCalendarNextMonth_DevEx
{
    background-position: -172px -52px;
    width: 19px;
    height: 18px;
}
.dxEditors_edtCalendarNextMonthDisabled_DevEx
{
    background-position: -70px -120px;
    width: 19px;
    height: 18px;
}
.dxEditors_edtCalendarNextYear_DevEx
{
    background-position: -90px -120px;
    width: 19px;
    height: 18px;
}
.dxEditors_edtCalendarNextYearDisabled_DevEx
{
    background-position: -130px -120px;
    width: 19px;
    height: 18px;
}
.dxEditors_edtCalendarPrevMonth_DevEx
{
    background-position: -152px -62px;
    width: 19px;
    height: 18px;
}
.dxEditors_edtCalendarPrevMonthDisabled_DevEx
{
    background-position: -110px -120px;
    width: 19px;
    height: 18px;
}
.dxEditors_edtCalendarPrevYear_DevEx
{
    background-position: -172px -33px;
    width: 19px;
    height: 18px;
}
.dxEditors_edtCalendarPrevYearDisabled_DevEx
{
    background-position: -150px -120px;
    width: 19px;
    height: 18px;
}
.dxEditors_edtDETSClockFace_DevEx
{
    background-position: 0px 0px;
    width: 119px;
    height: 119px;
}
.dxEditors_edtDETSHourHand_DevEx
{
    background-position: -144px 0px;
    width: 7px;
    height: 70px;
}
.dxEditors_edtDETSMinuteHand_DevEx
{
    background-position: -136px 0px;
    width: 7px;
    height: 70px;
}
.dxEditors_edtDETSSecondHand_DevEx
{
    background-position: -120px 0px;
    width: 7px;
    height: 78px;
}
.dxEditors_edtDETSSecondHand_DevEx.
{
    background-position: -128px 0px \9;
    width: 7px \9;
    height: 78px \9;
}
.dxEditors_edtDropDown_DevEx
{
    background-position: -181px -140px;
    width: 10px;
    height: 13px;
}
.dxEditors_edtDropDownDisabled_DevEx
{
    background-position: -178px -203px;
    width: 10px;
    height: 13px;
}
.dxEditors_edtEllipsis_DevEx
{
    background-position: -166px -203px;
    width: 11px;
    height: 13px;
}
.dxEditors_edtEllipsisDisabled_DevEx
{
    background-position: -154px -203px;
    width: 11px;
    height: 13px;
}
.dxEditors_edtError_DevEx
{
    background-position: -32px -159px;
    width: 14px;
    height: 14px;
}
.dxEditors_edtRadioButtonChecked_DevEx
{
    background-position: -149px -140px;
    width: 15px;
    height: 15px;
}
.dxEditors_edtRadioButtonCheckedDisabled_DevEx
{
    background-position: -133px -140px;
    width: 15px;
    height: 15px;
}
.dxEditors_edtRadioButtonUnchecked_DevEx
{
    background-position: -165px -140px;
    width: 15px;
    height: 15px;
}
.dxEditors_edtRadioButtonUncheckedDisabled_DevEx
{
    background-position: -16px -159px;
    width: 15px;
    height: 15px;
}
.dxEditors_edtSpinEditDecrementImage_DevEx
{
    background-position: -184px -27px;
    width: 7px;
    height: 5px;
}
.dxEditors_edtSpinEditDecrementImageDisabled_DevEx
{
    background-position: -182px -189px;
    width: 7px;
    height: 5px;
}
.dxEditors_edtSpinEditIncrementImage_DevEx
{
    background-position: -184px -74px;
    width: 7px;
    height: 5px;
}
.dxEditors_edtSpinEditIncrementImageDisabled_DevEx
{
    background-position: -184px -20px;
    width: 7px;
    height: 5px;
}
.dxEditors_edtSpinEditLargeDecImage_DevEx
{
    background-position: -136px -72px;
    width: 5px;
    height: 7px;
}
.dxEditors_edtSpinEditLargeDecImageDisabled_DevEx
{
    background-position: -178px -25px;
    width: 5px;
    height: 7px;
}
.dxEditors_edtSpinEditLargeIncImage_DevEx
{
    background-position: -142px -71px;
    width: 5px;
    height: 7px;
}
.dxEditors_edtSpinEditLargeIncImageDisabled_DevEx
{
    background-position: -178px -72px;
    width: 5px;
    height: 7px;
}
.dxEditors_edtTBDecBtn_DevEx
{
    background-position: -114px -140px;
    width: 18px;
    height: 18px;
}
.dxEditors_edtTBDecBtnDisabled_DevEx
{
    background-position: -38px -140px;
    width: 18px;
    height: 18px;
}
.dxEditors_edtTBDecBtnHover_DevEx
{
    background-position: -95px -140px;
    width: 18px;
    height: 18px;
}
.dxEditors_edtTBDecBtnPressed_DevEx
{
    background-position: -57px -140px;
    width: 18px;
    height: 18px;
}
.dxEditors_edtTBIncBtn_DevEx
{
    background-position: -170px -120px;
    width: 18px;
    height: 18px;
}
.dxEditors_edtTBIncBtnDisabled_DevEx
{
    background-position: -19px -140px;
    width: 18px;
    height: 18px;
}
.dxEditors_edtTBIncBtnHover_DevEx
{
    background-position: 0px -140px;
    width: 18px;
    height: 18px;
}
.dxEditors_edtTBIncBtnPressed_DevEx
{
    background-position: -76px -140px;
    width: 18px;
    height: 18px;
}
.dxEditors_edtTokenBoxTokenRemoveButton_DevEx
{
    background-position: 0px -159px;
    width: 15px;
    height: 15px;
}
.dxEditors_fcadd_DevEx
{
    background-position: -84px -189px;
    width: 13px;
    height: 13px;
}
.dxEditors_fcaddhot_DevEx
{
    background-position: -28px -189px;
    width: 13px;
    height: 13px;
}
.dxEditors_fcgroupaddcondition_DevEx
{
    background-position: -140px -203px;
    width: 13px;
    height: 13px;
}
.dxEditors_fcgroupaddgroup_DevEx
{
    background-position: -120px -175px;
    width: 13px;
    height: 13px;
}
.dxEditors_fcgroupand_DevEx
{
    background-position: -70px -203px;
    width: 13px;
    height: 13px;
}
.dxEditors_fcgroupnotand_DevEx
{
    background-position: -42px -189px;
    width: 13px;
    height: 13px;
}
.dxEditors_fcgroupnotor_DevEx
{
    background-position: -148px -175px;
    width: 13px;
    height: 13px;
}
.dxEditors_fcgroupor_DevEx
{
    background-position: -56px -189px;
    width: 13px;
    height: 13px;
}
.dxEditors_fcgroupremove_DevEx
{
    background-position: -126px -203px;
    width: 13px;
    height: 13px;
}
.dxEditors_fcopany_DevEx
{
    background-position: -176px -175px;
    width: 13px;
    height: 13px;
}
.dxEditors_fcopbegin_DevEx
{
    background-position: 0px -203px;
    width: 13px;
    height: 13px;
}
.dxEditors_fcopbetween_DevEx
{
    background-position: -140px -189px;
    width: 13px;
    height: 13px;
}
.dxEditors_fcopblank_DevEx
{
    background-position: -84px -203px;
    width: 13px;
    height: 13px;
}
.dxEditors_fcopcontain_DevEx
{
    background-position: -42px -203px;
    width: 13px;
    height: 13px;
}
.dxEditors_fcopend_DevEx
{
    background-position: -112px -203px;
    width: 13px;
    height: 13px;
}
.dxEditors_fcopequal_DevEx
{
    background-position: -70px -189px;
    width: 13px;
    height: 13px;
}
.dxEditors_fcopgreater_DevEx
{
    background-position: -134px -175px;
    width: 13px;
    height: 13px;
}
.dxEditors_fcopgreaterorequal_DevEx
{
    background-position: -14px -189px;
    width: 13px;
    height: 13px;
}
.dxEditors_fcopless_DevEx
{
    background-position: 0px -189px;
    width: 13px;
    height: 13px;
}
.dxEditors_fcoplessorequal_DevEx
{
    background-position: -126px -189px;
    width: 13px;
    height: 13px;
}
.dxEditors_fcoplike_DevEx
{
    background-position: -28px -203px;
    width: 13px;
    height: 13px;
}
.dxEditors_fcopnotany_DevEx
{
    background-position: -154px -189px;
    width: 13px;
    height: 13px;
}
.dxEditors_fcopnotbetween_DevEx
{
    background-position: -98px -203px;
    width: 13px;
    height: 13px;
}
.dxEditors_fcopnotblank_DevEx
{
    background-position: -112px -189px;
    width: 13px;
    height: 13px;
}
.dxEditors_fcopnotcontain_DevEx
{
    background-position: -98px -189px;
    width: 13px;
    height: 13px;
}
.dxEditors_fcopnotequal_DevEx
{
    background-position: -162px -175px;
    width: 13px;
    height: 13px;
}
.dxEditors_fcopnotlike_DevEx
{
    background-position: -56px -203px;
    width: 13px;
    height: 13px;
}
.dxEditors_fcremove_DevEx
{
    background-position: -168px -189px;
    width: 13px;
    height: 13px;
}
.dxEditors_fcremovehot_DevEx
{
    background-position: -14px -203px;
    width: 13px;
    height: 13px;
}
.dxeFocused_DevEx .dxeTBHSys .dxeFocusedMDHSys .dxEditors_edtTBMainDH_DevEx
{
    background-position: -28px -120px;
    width: 13px;
    height: 19px;
}
.dxeFocused_DevEx .dxeTBHSys .dxeFocusedMDHSys .dxEditors_edtTBMainDHHover_DevEx
{
    background-position: -42px -120px;
    width: 13px;
    height: 19px;
}
.dxeFocused_DevEx .dxeTBHSys .dxeFocusedMDHSys .dxEditors_edtTBMainDHPressed_DevEx
{
    background-position: -164px -100px;
    width: 13px;
    height: 19px;
}
.dxeFocused_DevEx .dxeTBHSys .dxeFocusedSDHSys .dxEditors_edtTBSecondaryDH_DevEx
{
    background-position: -178px -100px;
    width: 13px;
    height: 19px;
}
.dxeFocused_DevEx .dxeTBHSys .dxeFocusedSDHSys .dxEditors_edtTBSecondaryDHHover_DevEx
{
    background-position: -14px -120px;
    width: 13px;
    height: 19px;
}
.dxeFocused_DevEx .dxeTBHSys .dxeFocusedSDHSys .dxEditors_edtTBSecondaryDHPressed_DevEx
{
    background-position: -136px -100px;
    width: 13px;
    height: 19px;
}
.dxeFocused_DevEx .dxeTBVSys .dxeFocusedMDHSys .dxEditors_edtTBMainDH_DevEx
{
    background-position: -87px -159px;
    width: 19px;
    height: 13px;
}
.dxeFocused_DevEx .dxeTBVSys .dxeFocusedMDHSys .dxEditors_edtTBMainDHHover_DevEx
{
    background-position: -60px -175px;
    width: 19px;
    height: 13px;
}
.dxeFocused_DevEx .dxeTBVSys .dxeFocusedMDHSys .dxEditors_edtTBMainDHPressed_DevEx
{
    background-position: -107px -159px;
    width: 19px;
    height: 13px;
}
.dxeFocused_DevEx .dxeTBVSys .dxeFocusedSDHSys .dxEditors_edtTBSecondaryDH_DevEx
{
    background-position: 0px -175px;
    width: 19px;
    height: 13px;
}
.dxeFocused_DevEx .dxeTBVSys .dxeFocusedSDHSys .dxEditors_edtTBSecondaryDHHover_DevEx
{
    background-position: -127px -159px;
    width: 19px;
    height: 13px;
}
.dxeFocused_DevEx .dxeTBVSys .dxeFocusedSDHSys .dxEditors_edtTBSecondaryDHPressed_DevEx
{
    background-position: -152px -29px;
    width: 19px;
    height: 13px;
}
.dxeTBHSys .dxEditors_edtTBMainDH_DevEx
{
    background-position: -178px -80px;
    width: 13px;
    height: 19px;
}
.dxeTBHSys .dxEditors_edtTBMainDHDisabled_DevEx
{
    background-position: -150px -100px;
    width: 13px;
    height: 19px;
}
.dxeTBHSys .dxEditors_edtTBMainDHHover_DevEx
{
    background-position: 0px -120px;
    width: 13px;
    height: 19px;
}
.dxeTBHSys .dxEditors_edtTBMainDHPressed_DevEx
{
    background-position: -178px 0px;
    width: 13px;
    height: 19px;
}
.dxeTBHSys .dxEditors_edtTBSecondaryDH_DevEx
{
    background-position: -120px -80px;
    width: 13px;
    height: 19px;
}
.dxeTBHSys .dxEditors_edtTBSecondaryDHDisabled_DevEx
{
    background-position: -136px -80px;
    width: 13px;
    height: 19px;
}
.dxeTBHSys .dxEditors_edtTBSecondaryDHHover_DevEx
{
    background-position: -56px -120px;
    width: 13px;
    height: 19px;
}
.dxeTBHSys .dxEditors_edtTBSecondaryDHPressed_DevEx
{
    background-position: -122px -100px;
    width: 13px;
    height: 19px;
}
.dxeTBVSys .dxEditors_edtTBMainDH_DevEx
{
    background-position: -47px -159px;
    width: 19px;
    height: 13px;
}
.dxeTBVSys .dxEditors_edtTBMainDHDisabled_DevEx
{
    background-position: -100px -175px;
    width: 19px;
    height: 13px;
}
.dxeTBVSys .dxEditors_edtTBMainDHHover_DevEx
{
    background-position: -167px -159px;
    width: 19px;
    height: 13px;
}
.dxeTBVSys .dxEditors_edtTBMainDHPressed_DevEx
{
    background-position: -67px -159px;
    width: 19px;
    height: 13px;
}
.dxeTBVSys .dxEditors_edtTBSecondaryDH_DevEx
{
    background-position: -147px -159px;
    width: 19px;
    height: 13px;
}
.dxeTBVSys .dxEditors_edtTBSecondaryDHDisabled_DevEx
{
    background-position: -20px -175px;
    width: 19px;
    height: 13px;
}
.dxeTBVSys .dxEditors_edtTBSecondaryDHHover_DevEx
{
    background-position: -80px -175px;
    width: 19px;
    height: 13px;
}
.dxeTBVSys .dxEditors_edtTBSecondaryDHPressed_DevEx
{
    background-position: -40px -175px;
    width: 19px;
    height: 13px;
}
.dxeTBHSys .dxEditors_edtTBMainDHPressed_DevEx,
.dxeTBHSys .dxEditors_edtTBSecondaryDHPressed_DevEx
{
	z-index: 7;
}
.dxeTBVSys .dxEditors_edtTBMainDHPressed_DevEx,
.dxeTBVSys .dxEditors_edtTBSecondaryDHPressed_DevEx
{
	z-index: 7;
}
.dxEditors_edtError_DevEx,
.dxEditors_edtCalendarPrevYear_DevEx,
.dxEditors_edtCalendarPrevYearDisabled_DevEx,
.dxEditors_edtCalendarPrevMonth_DevEx,
.dxEditors_edtCalendarPrevMonthDisabled_DevEx,
.dxEditors_edtCalendarNextMonth_DevEx,
.dxEditors_edtCalendarNextMonthDisabled_DevEx,
.dxEditors_edtCalendarNextYear_DevEx,
.dxEditors_edtCalendarNextYearDisabled_DevEx,
.dxEditors_edtCalendarFNPrevYear_DevEx,
.dxEditors_edtCalendarFNNextYear_DevEx,
.dxEditors_edtEllipsis_DevEx,
.dxEditors_edtEllipsisDisabled_DevEx,
.dxEditors_edtDropDown_DevEx,
.dxEditors_edtDropDownDisabled_DevEx,
.dxEditors_edtSpinEditIncrementImage_DevEx,
.dxEditors_edtSpinEditIncrementImageDisabled_DevEx,
.dxEditors_edtSpinEditDecrementImage_DevEx,
.dxEditors_edtSpinEditDecrementImageDisabled_DevEx,
.dxEditors_edtSpinEditLargeIncImage_DevEx,
.dxEditors_edtSpinEditLargeIncImageDisabled_DevEx,
.dxEditors_edtSpinEditLargeDecImage_DevEx,
.dxEditors_edtSpinEditLargeDecImageDisabled_DevEx
{
	display:block;
    margin:auto;
}
.dxEditors_edtCalendarFNPrevYear_DevEx
{
    margin-right: 8px;
}
.dxEditors_edtCalendarFNNextYear_DevEx
{
    margin-left: 8px;
}

