<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DB.Properties.Settings.FractalConnectionString" connectionString="Data Source=srv63bits;Initial Catalog=Fractal;Persist Security Info=True;User ID=sa;Password=9"
            providerName="System.Data.SqlClient" />
        <add name="DB.Properties.Settings.FractalConnectionString1" connectionString="Data Source=srv63bits\MSSQL2012,49231;Initial Catalog=Fractal;Persist Security Info=True;User ID=sa;Password=9"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>