@font-face {
	font-family: 'BPG DejaVu Sans';
	src: url('../fonts/BPG_DejaVuSans.eot');
	src: url('../fonts/BPG_DejaVuSans.eot?#iefix') format('embedded-opentype'),
			 url('../fonts/BPG_DejaVuSans.woff') format('woff'),
			 url('../fonts/BPG_DejaVuSans.ttf') format('truetype'),
			 url('../fonts/BPG_DejaVuSans.svg#BPG DejaVu Sans') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'BPG DejaVu Sans';
	src: url('../fonts/BPG_DejaVuSans_Bold.eot');
	src: url('../fonts/BPG_DejaVuSans_Bold.eot?#iefix') format('embedded-opentype'),
			 url('../fonts/BPG_DejaVuSans_Bold.woff') format('woff'),
			 url('../fonts/BPG_DejaVuSans_Bold.ttf') format('truetype'),
			 url('../fonts/BPG_DejaVuSans_Bold.svg#BPG DejaVu Sans') format('svg');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'BPG DejaVu Sans MT';
	src: url('../fonts/BPG_DejaVuSansMt.eot');
	src: url('../fonts/BPG_DejaVuSansMt.eot?#iefix') format('embedded-opentype'),
			 url('../fonts/BPG_DejaVuSansMt.woff') format('woff'),
			 url('../fonts/BPG_DejaVuSansMt.ttf') format('truetype'),
			 url('../fonts/BPG_DejaVuSansMt.svg#BPG DejaVu Sans') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'BPG DejaVu Sans MT';
	src: url('../fonts/BPG_DejaVuSansMt_Bold.eot');
	src: url('../fonts/BPG_DejaVuSansMt_Bold.eot?#iefix') format('embedded-opentype'),
			 url('../fonts/BPG_DejaVuSansMt_Bold.woff') format('woff'),
			 url('../fonts/BPG_DejaVuSansMt_Bold.ttf') format('truetype'),
			 url('../fonts/BPG_DejaVuSansMt_Bold.svg#BPG DejaVu Sans') format('svg');
	font-weight: bold;
	font-style: normal;
}