html,body,
h1,h2,h3,h4,h5,h6,
ul,figure,article{
	margin:0;
	padding:0;
}

*{
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
*:before,
*:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

.cl:before,
.cl:after,
.list:before,
.list:after,
.wrap:before,
.wrap:after {
  display: table;
  content: " ";
}
.list:after,
.cl:after,
.wrap:after{
	clear:both;
}

input{
    font-family: 'BPG DejaVu Sans';
}

body{
	color:#6d6e71;
	font-family: 'BPG DejaVu Sans';
	font-size:16px;
    min-width:100px;
}
.fix{
	position:fixed !important;
}
.left{
	float:left;
}
.right{
	float:right;
}
.hidden{
	display:none;
}
.hide{
	opacity:0;
	z-index:0 !important;
	visibility:hidden;
}
a{
	outline:none;
}
a img{
	border:0;
}

html,body,form{
	width:100%;
	height:100%;
}
html > body .all {
	height: auto;
	min-height: 100%;
}
.all {
	position: relative;
	height: 100%;
	padding-bottom:78px;
}

.wrap{
    width:1000px;
    margin:0 auto;
}

.cnt{
    width:1000px;
    margin:0 auto;
    padding:50px 0;
}
.cnt:before{
    content:"";
    position:absolute;
    left:0;
    top:84px;
    width:100%;
    height:2px;
    background-color:#27984b;
}
.cnt h1{
    color:#39b54a;
    font-size:40px;
}
.cnt > h2{
    color: #39b54a;
    font-size: 40px;
    font-weight: normal;
    line-height: 44px;
    margin: 0 0 10px 41px;
}
.cnt article p{
    margin:20px 0;
}

/* ---------- btn ---------- */
.btn{
    display:inline-block;
    color:#fff;
    font-family: 'BPG DejaVu Sans';
    font-size:13px;
    font-weight:normal;
    line-height:20px;
    background:#39b54a;
    border:1px solid #009344;
    border-radius:3px;
    padding:6px 26px;
}
.btn:hover{
    color:#fff;
}
.btn.big{
    width:252px;
    height:47px;
    font-size:20px;
    text-align:center;
    text-decoration:underline;
}
a.btn.big{
    line-height:47px;
    padding:0;
}
input.btn{
    outline:none;
    cursor:pointer;
}
/* ---------- /btn ---------- */



/* ---------- header ---------- */
header{
	width:100%;
	height:84px;
	background:#fff;
}
header .logo{
	float:left;
	display:block;
	width:221px;
	height:51px;
	background:url(../images/logo.png);
	margin:17px 0 0 150px;
    text-indent:-9999px;
}

header nav{
	float:right;
    margin-right:100px;
}
header ul{
	list-style:none;
}
header li{
    position:relative;
	float:left;
    margin:32px 30px 0 0;
}
header li a{
	display:block;
	color:#848484;
    font-family: 'BPG DejaVu Sans MT';
	font-size:14px;
    font-weight:bold;
	text-decoration:none;
	line-height:20px;
}
header li a:hover,
header li.active a{
	color:#009444;
}

header li.sign{
    margin-top:24px;
}
header li.sign > div.hide{
    z-index:-1;
}
header li.sign > div{
    position:absolute;
    right:0;
    top:44px;
    z-index:1;

    width:198px;
    height:168px;
    background:#fff;
    border:1px solid #a5a7a9;
    border-radius:3px;

    -webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}
header li.sign > div.small{
    height:128px;
}
header li.sign > div:before{
    content:"";
    position:absolute;
    right:40px;
    top:-8px;

    width:15px;
    height:8px;
    background:url(../images/triangle-sign.png);
}
header li.sign > div div{
    width:160px;
    margin:18px auto 8px;

    position:absolute;
    top:0;
    left:50%;
    margin-left:-80px;

    -webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}

li.sign input{
    width:100%;
    padding:0;
    outline:none;
    margin-bottom:4px;
}
li.sign input[type=text],
li.sign input[type=password]{
    height:31px;
    padding-left:8px;
    margin-bottom:9px;
    background:#e7e8e9;
    border:1px solid #acaeb1;
    border-radius:3px;
}
li.sign div a{
    display:inline-block;
    font-family: 'BPG DejaVu Sans';
	font-size:12px;
    font-weight:normal;
    text-decoration:underline;
}
li.sign input.btn{
    line-height:31px;
}


header li.profile{
    position:relative;
    margin-top:28px;
}
header li a.profile,
header li a.logout{
    float:left;
    display:block;
    background-position:bottom;
    background-repeat:no-repeat;
}
header li a:hover {
    background-position:top;
}
header li a.profile{
    width:24px;
    height:24px;
    background-image:url(../images/icons/header/user.png);
}
header li a.logout{
    width:22px;
    height:23px;
    background-image:url(../images/icons/header/logout.png);
    margin:1px 0 0 14px;
}
header li span.profile{
    position:absolute;
    right:0;
    bottom:-24px;
    width:200px;

    text-align:right;
}
header li span.profile a{
    color:#009344;
    font-size:11px;
    font-family: 'BPG DejaVu Sans';
}
/* ---------- /header ---------- */



/* ---------- footer ---------- */
footer{
	position:absolute;
	left:0;
	bottom:0;
	
	width:100%;
	height:78px;
	background:#1b1b1b;
}
footer div{
	width:1000px;
	margin:0 auto;
	line-height:78px;
}
footer *{
	color:#6d6e71;
	font-size:14px;
}
footer span{
	float:left;
}
footer p{
    margin:0;
    float:right;
}
/* ---------- /footer ---------- */


h1,h2,h3,h4,h5,h6{
    color:#777782;
    font-family: 'BPG DejaVu Sans MT';
    font-size:25px;
}
h2.title{
    font-size:25px;
    line-height:26px;
    background:url(../images/pat.png) repeat-x;
    margin:0 0 48px 150px;
}
h2.title span{
    background:#fff;
    padding-right:17px;
}

section.gray {
    padding:44px 0 54px;
}
section.gray,
section.gray h2 span{
    background:#ebeced;
}



/* ---------- home ---------- */
.home-top{
    position:relative;
    width:100%;
    height:496px;
    overflow:hidden;

    background: #77b13f; /* Old browsers */
    background: -moz-linear-gradient(top, #77b13f 0%, #1c733b 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#77b13f), color-stop(100%,#1c733b)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #77b13f 0%,#1c733b 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #77b13f 0%,#1c733b 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #77b13f 0%,#1c733b 100%); /* IE10+ */
    background: linear-gradient(to bottom, #77b13f 0%,#1c733b 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#77b13f', endColorstr='#1c733b',GradientType=0 ); /* IE6-9 */
}
.home-top h2.title{
    position:relative;
    color:#fff;
    background:none;
    margin:40px 0 0 150px;
}
.home-top h2.title span {
    position:absolute;
    right:0;
    left:170px;
    height:100%;
    background-color:transparent;
    background:url(../images/pat-white.png) 0 0 repeat-x;
}
.home-top ul{
    list-style:none;
    width:1000px;
    margin:0 auto;
}
.home-top li{
    position:relative;
    float:left;
    width:50%;
    height:430px;
}
.home-top li img{
    position:absolute;
    left:-5px;
    top:0;
}
.home-top li a{
    position:absolute;
    bottom:20px;
    left:50%;
    margin-left:-125px;
    display:block;
    width:253px;
    height:47px;
    background:rgba(255,255,255,0.2);
    border:1px solid rgba(255,255,255,0.57);
    border-radius:4px;

    color:#fff;
    font-size:20px;
    line-height:47px;
    text-align:center;
}
.home-top li a:hover{
    background:rgba(255,255,255,0.4);
}


ul.banners{
    list-style:none;
    width:1000px;
    margin:0 auto;
}
ul.banners li{
    float:left;
    width:499px;
    height:150px;
    margin:40px 0;
}
ul.banners li img{
    display:block;
}

section.home{
    padding:44px 0 100px;
}
section.home h2{
    margin-bottom:65px;
}

section.home ul{
    list-style:none;
}
.home .list{
    width:1000px;
    margin:0 auto;
}

.home .list.col3 > li,
.home .team .list > li{
    float:left;
}

.home .list.col3{
    position:relative;
}
.home .list.col3 li{
    width:333px;
    padding:0 28px;
    text-align:center;
}
.home .list.col3 li:first-child{
    width:334px;
}
.home .list.col3 > li:after{
    content:"";
    position:absolute;
    left:333px;
    top:0;
    width:1px;
    height:100%;
    background:#aeb0b2;
}
.home .list.col3 li:nth-child(2):after{
    left:666px;
}

.home .list.col3 h3{
    color:#000;
    margin:10px 0 8px;
}
.home .list.col3 article{
    margin-bottom:50px;
}

.home p{
    margin:0;
}

.home div.col2 > div{
    float:left;
    width:470px;
}
.home div.col2 > div:last-child{
    float:right;
}
.home div.col2 li{
    position:relative;
    padding-left:60px;
    margin-bottom:55px;
}
.home div.col2 li:last-child{
    margin-bottom:0;
}
.home div.col2 li img{
    position:absolute;
    left:0;
    top:0;
}
.home div.col2 li h4{
    padding:4px 0 10px;
}

.home .team{
    overflow:hidden;
    margin-bottom:-60px;
}
.home .team .list{
    width:1080px;
}
.home .team .list li{
    width:203px;
    font-size:14px;
    margin:0 62px 60px 0;
}
.home .team .list li > span,
.home .team .list li img{
    display:block;
}
.home .team .list li > span{
    position:relative;
    width:203px;
    height:203px;
    border-radius:100%;
    overflow:hidden;
}
.home .team .list h5{
    color:#58595b;
    font-size:21px;
    margin:20px 0 10px;
}
.home .team .list h5,
.home .team .list p{
    margin-left:2px;
}
/* ---------- /home ---------- */



/* ---------- book ---------- */
section.book{
    position:relative;
    width:100%;
    height:496px;
    overflow:hidden;

    background: #77b13f; /* Old browsers */
    background: -moz-linear-gradient(top, #77b13f 0%, #1c733b 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#77b13f), color-stop(100%,#1c733b)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #77b13f 0%,#1c733b 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #77b13f 0%,#1c733b 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #77b13f 0%,#1c733b 100%); /* IE10+ */
    background: linear-gradient(to bottom, #77b13f 0%,#1c733b 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#77b13f', endColorstr='#1c733b',GradientType=0 ); /* IE6-9 */
}
section.book > div{
    position:relative;
    width:1000px;
    height:496px;
    margin:0 auto;
}
section.book article{
    padding-top:82px;
}
section.book article h1{
    color:#fff;
    font-size:45px;
    font-weight:normal;
    line-height:50px;
    max-width:490px;
    margin-bottom:16px;
}
section.book article p{
    color:#fff;
    font-size:18px;
    max-width:334px;
    margin:0;
}

section.book img{
    position:absolute;
    left:334px;
    top:64px;
}
/* ---------- /book ---------- */



/* ---------- bar code ---------- */
.bar-code-form {
    width:530px;
    margin:0 auto;
    margin-bottom:63px;
}
.bar-code-form label,
.bar-code-form input{
    display:block;
}
.bar-code-form label{
    color:#535453;
    text-align:center;
}
.bar-code-form input[type=text]{
    width:100%;
    height:47px;
    border:1px solid #a2a4a6;
    border-radius:3px;
    box-shadow:inset 0 1px 2px rgba(0,0,0,0.3);
    padding:0 10px;
    margin:14px 0 10px;

    color:#535453;
    font-size:16px;
}
.bar-code-form .btn.big{
    margin:0 auto;
}


.bar-code .help{
    width:962px;
    margin:0 auto;
}
.bar-code .help h3{
    position:relative;

    color:#39b54a;
    font-size:24px;
    font-weight:normal;
    line-height:24px;
    text-align:center;
    margin-bottom:34px;
}
    .bar-code .help h3 span {
        position:relative;
        z-index:2;
        display:inline-block;
        line-height: 24px;
        background-color:#ebeced;
        padding:0 14px;
    }
.bar-code .help h3:before{
    content:"";
    position:absolute;
    top:9px;
    left:0;
    width:100%;
    height:1px;
    background-color:#4eb750;
}

.bar-code .help span.img{
    position:relative;
    float:left;
    display:block;
    width:202px;
    height:202px;
    border-radius:100%;
    overflow:hidden;
    margin:0 20px 0 270px;
}
.bar-code .help span.img img{
    display:block;
}
.bar-code .help div p{
    position:relative;
    width:330px;
    height:195px;
    display: table-cell;
    vertical-align: middle;
    margin:0;
}
/* ---------- /bar code ---------- */



/* ---------- grid ---------- */
.grid ul{
    list-style:none;
}
.grid li{
    height:61px;
    line-height:61px;
    padding:0 21px;
    border-bottom:1px solid #b1b9ac;
}
.grid li:hover{
    background-color:#c2d1b0;
}
.grid li > span{
    float:left;
    display:block;
    width:125px;
}
.grid li > span,
.grid li > span a{
    color:#59595b;
    font-size:20px;
    font-weight:bold;
    text-align:center;
    text-decoration:none;
}
.grid li > span:first-child{
    font-size:21px;
    text-align:left;
}
.grid li > span:last-child{
    float:right;
    width:150px;

    font-size:16px;
    font-weight:normal;
    text-align:right;
}

.grid li .name{
    position:relative;
    overflow:hidden;
}
.grid li .name > span{
    display:block;
    width:979px;
}
.grid li .name > span a{
    position:relative;
}


.grid li.head {
    height:30px;
    line-height:18px;
    border-bottom:2px solid #9ea1a3;
}
.grid li.head > span {
    color:#868686;
    font-size:16px;
    font-weight:normal;
}


.grid.course{
    width:1000px;
    margin:0 auto 15px;
}
.grid.course li > span:first-child{
    width:470px;
}
/* ---------- /grid ---------- */

/* ---------- dashboard ---------- */

.dashboard > nav{
    float:left;
    width:188px;
    background:#f2f2f2;
}

.dashboard nav ul{
    list-style:none;
}
.dashboard nav li{
    position:relative;
    height:39px;
    padding:9px 0 0 35px;
}
.dashboard nav li:before,
.dashboard nav li:after{
    content:"";
    position:absolute;
}
.dashboard nav li:before{
    top:11px;
    left:10px;

    width:16px;
    height:16px;
    background:#4d4c4d;
    border-radius:100%;
}
.dashboard nav li:not(.active):after{
    bottom:0;
    left:18px;
    right:18px;

    height:1px;
    background:#2b984c;
}
.dashboard nav li:last-child:after{
    height:0;
}
.dashboard nav a{
    display:inline-block;
    color:#3a3a3a;
    font-size:13px;
    line-height:20px;
    text-decoration:none;
}
.dashboard nav a:hover{
    text-decoration:underline;
}

.dashboard nav li.active{
    height:44px;
    padding:12px 0 0 35px;
    background-color:#27984b;
}
.dashboard nav li.active a{
    color:#fff;
    text-decoration:underline;
}
.dashboard nav li.active:before{
    top:14px;
    background-color:#fff;
}
.dashboard nav li.active:after{
    top:0;
    right:-11px;

    height:0;
    border-top:22px solid transparent;
    border-bottom:22px solid transparent;
    border-left:11px solid #27984b;
}

.dashboard > section{
    float:right;
    width:778px;
    margin-top:-3px;
}

.dashboard > section h1,
.dashboard > section h2,
.dashboard > section h3{
    color:#39b54a;
}
.dashboard > section h1{
    font-size:47px;
    line-height:56px;
    margin:-2px 0 56px 41px;
}
.dashboard > section h2,
.dashboard > section h3{
    font-size:40px;
    font-weight:normal;
    line-height:44px;
}
.dashboard > section h2{
    margin:0 0 50px 41px;
}
.dashboard > section h2.form{
    margin:0 0 10px 41px;
}
.dashboard > section h3{
    margin:0 0 20px 41px;
}


.dashboard .grid{
    width:778px;
    margin:0 auto 57px;
}
.dashboard .grid li > span:first-child{
    width:330px;
}

.dashboard .grid.col2 li > span:first-child{
    width:500px;
}
.dashboard .grid.col2 li > span:last-child{
    width:200px;
}


.dashboard .form{
    margin:0;
}
/* ---------- /dashboard ---------- */



/* ---------- contact ---------- */

section.contact p{
    font-size:14px;
    margin:25px 0 35px;
}
section.contact ul{
    list-style:none;
}
section.contact li{
    margin-bottom:15px;
    padding-left:37px;
}
section.contact li,
section.contact li a {
    color:#6d6e71;
    font-size:14px;
    text-decoration:none;
}
section.contact li.tel{
    background:url(../images/icons/phone.png) left no-repeat;
    font-size:50px;
    line-height:41px;
    letter-spacing:-4px;
    margin-bottom:25px;
}
section.contact li.mail{
    background:url(../images/icons/mail.png) 1px no-repeat;
}
section.contact li.address{
    background:url(../images/icons/address.png) 3px no-repeat;
}

div.map{
    position:relative;
    width:100%;
    height:450px;
    margin-bottom:50px;
}
/* ---------- /contact ---------- */



